.bracket {
  overflow-x: scroll;
  display: grid;
  grid-column-gap: 50px;
  /* grid-template-columns: minmax(auto, 400px) minmax(auto, 400px);  */
}

.round {
  height: auto;
  display: grid;
  align-content: space-around;
  grid-template-columns: minmax(auto, 400px);
}

.match {
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  margin: 10px;
  font: 18px "Century Gothic", Futura, sans-serif;
  background-color: white;
}

.playerName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.winner {
  font-weight: bold;
}


