.grid-container {
  overflow-x: scroll;
  display: grid;
  grid-row: 1;
  grid-template-columns: minmax(auto, 400px) minmax(auto, 400px); 
}

.match {
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  font: 18px "Century Gothic", Futura, sans-serif;
  background-color: white;
}

.halfspace {
  height: 60px
}

.playerName {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.winner {
  font-weight: bold;
}

.round {
  background-color: rgb(228, 255, 250);
}
